*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-width: 1200px;
}

.left{
    float:left;
}

.right{
    float: right;
}

.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

ul li{
    list-style-type: none;
}

.button a{
    padding: 5px 10px;
}

.blu a{
    background-color: blue;
    color: white;
}

a{
    display: inline-block;
    text-decoration: none;
}

/* lavoro nav */

nav{
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
}

nav .logo{
    margin-top: 30px;
    margin-left: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

nav ul li a{
    color: black;
}

nav .button{
    margin-top: 25px;
    margin-right: 20px;
}

/* lavoro jumbo */

#jumbo{
    width: 100%;
    padding-top: 80px;
    background-color: #B4D0E7;
}

.box{
    width: 50%;
    float: left;
}

.one{
    padding-left: 80px;
}

h1{
    font-size: 8vh;
    font-weight: bolder;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 80px;
}

.box p{
    max-width: 40%;
    font-size: small;
}

.first{
    padding-top: 50px;
}

.box p span i{
    font-size: larger;
}

.box .button{
    margin-top: 20px;
    margin-bottom: 5px;
}

.second{
    padding-bottom: 50px;
}

.arrow{
    padding-bottom: 80px;
}

 header #jumbo .box img{
    width: 100%;
    position: relative;
    right: 250px;
    bottom: -80px;
}

/* inizio sezione main */

/* sezione 1 */

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}

.piano{
    font-size: 4vh;
    margin-bottom: 40px;
}

.circlebutt{
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 30px;
}

.signed{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 5px solid blue;
    border-radius: 50%;
    vertical-align: middle;
}

.un{
    border: 2px solid lightgrey;
}

.offerta{
    border: 1px solid lightgray;
    width: 30%;
}

.top{
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.mid{
    margin-left: 5%;
    margin-right: 5%;
}

.centrer{
    padding: 30px;
}

.offerta .top{
    padding: 10px;
}

.centrer .big{
    font-size: x-large;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 20px;
}

.centrer .strong{
    font-size: small;
    font-weight: bolder;
    padding-bottom: 20px;
}

.grey{
    font-size: smaller;
    color: gray;
    padding-bottom: 40px;
}

.centrer p{
    font-size: small;
    padding-bottom: 10px;
}

.centrer button a{
    margin-top: 40px;
}

hr{
    width: 30%;
}

.centrer .underlined{
    padding-bottom: 20px;
    padding-top: 30px;
}

.centrer p span{
    color: blue;
    text-decoration: underline;
}

.centrer .sub{
    font-size: large;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 20px;
}

.centrer ul li{
    padding-bottom: 20px;
}

ul .last{
    padding-bottom: 70px;
}

ul .real-last{
    padding-bottom: 30px;
}

ul li i{
    color: blue;
}

.bottom{
    margin-top: 30px;
    border: 1px solid lightgray;
}

.bottom .big, .bottom .sub{
    max-width: 50%;
}

.bottom .big{
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 20px;
}

.bottom .sub{
    font-size: large;
    font-weight: bolder;
    padding-top: 30px;
}

.bottom .top{
    padding: 10px;
}

.bottom .button{
    position: relative;
    left: 80%;
}

/* lavoro section 2 */