*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-width: 1200px;
}

body{
    overflow-x: hidden;
    }

.left{
    float:left;
}

.right{
    float: right;
}

.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

ul li{
    list-style-type: none;
}

.button a{
    padding: 5px 10px;
}

.blu a{
    background-color: hsl(217deg 100% 50%);
    color: white;
}

.white a{
    background-color: white;
}

.border a{
    border: 2px solid black;
}

a{
    display: inline-block;
    text-decoration: none;
}

/* lavoro nav */

nav{
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
}

nav .logo{
    margin-top: 30px;
    margin-left: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

nav ul li a{
    color: black;
}

nav .button{
    margin-top: 25px;
    margin-right: 20px;
}

nav ul li a:hover{
border-bottom: 3px solid black;
}

 ul .dropdown {
    position: relative;
    display: inline-block;
  }
  
  ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* lavoro jumbo */

#jumbo{
    width: 100%;
    padding-top: 80px;
    background-color: #B4D0E7;
}

.box{
    width: 50%;
    float: left;
}

.one{
    padding-left: 80px;
}

h1{
    font-size: 8vh;
    font-weight: bolder;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 80px;
}

.box p{
    max-width: 40%;
    font-size: small;
}

.first{
    padding-top: 50px;
}

.box p span i{
    font-size: larger;
}

.box .button{
    margin-top: 20px;
    margin-bottom: 5px;
}

.second{
    padding-bottom: 50px;
}

.arrow{
    padding-bottom: 80px;
}

.arrow a{
    color: black;
}

.arrow a i{
    font-size: xx-large;
}

 header #jumbo .box img{
    width: 100%;
    position: relative;
    right: 250px;
    bottom: -80px;
}

/* inizio sezione main */

/* sezione 1 */

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}

.piano{
    font-size: 4vh;
    margin-bottom: 40px;
}

.circlebutt{
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 30px;
}

.signed{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 5px solid blue;
    border-radius: 50%;
    vertical-align: middle;
}

.un{
    border: 2px solid lightgrey;
}

.offerta{
    border: 1px solid lightgray;
    width: 30%;
    min-height: 1000px;
}

.top{
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.mid{
    margin-left: 5%;
    margin-right: 5%;
}

.centrer{
    padding: 30px;
}

.offerta .top{
    padding: 10px;
}

.centrer .big{
    font-size: x-large;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 20px;
}

.centrer .strong{
    font-size: small;
    font-weight: bolder;
    padding-bottom: 20px;
}

.grey{
    font-size: smaller;
    color: gray;
    padding-bottom: 40px;
}

.centrer p{
    font-size: small;
    padding-bottom: 10px;
}

.centrer button a{
    margin-top: 40px;
}

.centrer hr{
    width: 30%;
}

.centrer .underlined{
    padding-bottom: 20px;
    padding-top: 30px;
}

.centrer p span{
    color: blue;
    text-decoration: underline;
}

.centrer .sub{
    font-size: large;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 20px;
}

.centrer ul li{
    padding-bottom: 20px;
}

ul .last{
    padding-bottom: 70px;
}

ul .real-last{
    padding-bottom: 30px;
}

ul li i{
    color: blue;
}

.bottom{
    margin-top: 30px;
    border: 1px solid lightgray;
}

.bottom .big, .bottom .sub{
    max-width: 50%;
}

.big{
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 20px;
}

.sub{
    font-size: large;
    font-weight: bolder;
    padding-top: 30px;
}

.bottom .top{
    padding: 10px;
}

.bottom .button{
    position: relative;
    left: 80%;
}

/* lavoro section 2 */

.partner{
    max-width: 50%;
    margin-top: 100px;
}

.partner img{
    width: 100%;
}

.desc{
    max-width: 50%;
    margin-top: 130px;
    padding: 50px;
}

.desc .button{
    margin-top: 30px;
}

/* lavoro section 3 */

.container section .accuracy{
    padding-top: 40px;
}

.segment{
    width: 33%;
    padding: 20px;
}

.segment .imgbox img{
    width: 100%;
}

.small{
    font-size: small;
}

/* lavoro section 4 */

.acc{
    padding-top: 100px;
    padding-bottom: 30px;
}

.container p a{
    padding-bottom: 40px;
}

.adjust{
    width: 30vw;
    height: 30vw;
}

.square{
    width: 15vw;
    height: 15vw;
    position: relative;
}

.bigsquare{
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: hsl(0deg 0% 96%);
    padding: 30px;
    overflow-y: auto;
}

.bigsquare img{
    width: 30%;
}

.green{
    background-color: #A2D39B;
}

.pinky{
    background-color: #61082b;
}

.red{
    background-color: #d5001f;
}

.light{
    background-color: hsl(207deg 52% 81%);
}

.blue{
    background-color: hsl(197deg 100% 40%);
}

.bright{
    background-color: hsl(0deg 100% 55%);
}

.dark{
    background-color: hsl(228deg 82% 28%);
}

.yellow{
    background-color: hsl(49deg 100% 59%);
}

.square img{
    -webkit-filter: invert(1);
   filter: invert(1);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center{
    padding-top: 40px;
    padding-bottom: 30px;
}

/* section 5 */

.back{
    padding-top: 100px;
    height: 300px;
    width: 100%;
    background-color: hsl(207deg 52% 81%);
}

.giga{
    position: relative;
    left: 15%;
    font-size: 7vh;
}

.back .button{
    position: relative;
    left: 65%;
    bottom: 45%;
}

/* section 6 */

.container .clearfix p.left{
    margin-top: 40px;
}

.container .clearfix i.right{
    margin-top: 40px;
    margin-bottom: 40px;
}

.repeat :last-child{
    margin-bottom: 60px;
}

.repeat .grey{
    display: none;
}

.repeat .clearfix i:hover + .repeat .grey{
    display: block;
}

/* footer */

footer{
    height: 600px;
    background-color: black;
}

.final-container{
    width: 90%;
    margin: 0 auto;
}

.final-container ul{
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.final-container ul li{
    color: white;
}

li.last-title{
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 30px;
}

footer hr{
    width: 20%;
    color: white;
    margin-bottom: 30px;
}

.final-container p{
    color: white;
}

.final-container p i{
    color: white;
}